/data/Pill_Detection_yolov8/train
/data/Pill_Detection_yolov8/valid
/data/Pill_Detection_coco/train
/data/Pill_Detection_coco/valid
/data/test/images/*
/yolo_runs/*
/src/__pycache__
/.env

dataset/
runs/
models/yolo8/
data_preprocessing/category_id_export.ipynb
.DS_Store
data_preprocessing/.DS_Store